html {
  height: 100%;
}

body {
  background: linear-gradient(180deg, rgba(0,0,68,1) 0%, rgba(0,51,102,1) 35%, rgba(102,153,204,1) 100%) no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0;  
}

h1 {
  color: #efcf3c;
}

h2 {
  color: #575339;
}

span.title-user {
  color: #efcf3c;
  font-weight: 600;
}

span.user-name {
  color: #fff;
  font-weight: 600;
}